*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Gilroy;
}
html,body{
height: 100%;
width: 100%;
}
*::selection{
    background-color: #FCE8B6;
}
#navbg{
    width: 100%;
    margin-top: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav1 {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
#navbg #nav1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
#navbg img{
    width: 10%;
    height: auto;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 80px;
}
#nav2  button{
    padding: 15px   30px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: capitalize;
}

#nav2 #log{
    color: rgb(0, 0, 0);
    background-color: white;
}
#platform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}
#platform h5{
    font-size: 20px;
    font-weight: 400;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 50px;
}
#platform h2{
    font-size: 75px;
    font-weight: 500;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#platform h4{
    font-size: 20px;
    font-weight: 400;
    background-color: palegoldenrod;
    padding: 10px;
}
#platform button{
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
#bottom::-webkit-scrollbar{
    display: none;
}
#bottom{
    margin-top: 20px;
    height: 60%;
    width: 100%;
    /* background-color: aqua; */
    /* gap: 20px ; */
    padding: 20px 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.dabba{
    display: inline-block;
    margin-right: 10px;
    height: 90%;
    width: 20%;
    background: blueviolet;
    overflow: hidden;
    border-radius: 40px;
    object-fit: cover;
    animation-name: dabba;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
.dabba img{
    object-fit: cover;
}    
.dabba video{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@keyframes dabba {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 14px));
    }
}
#companies{
    height: 70px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
#companies h5{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;

}
#companies img{
    height: 50px;
    filter: grayscale(1);
}
#page2{
    height: 80%;
    width: 100%;
    display: flex;
    /* padding: 100px; */
}
#page2 #page2-left{
    height: 100%;
    width: 50%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2 #page2-left h4{
    font-weight: 300;
    font-size: 90px;

}
#page2 #page2-right{
    height: 100%;
    width: 50%;
}
#page2 #page2-right p{
    margin-top: 20%;
    padding-right: 100px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 300;
}
#page2 #page2-right button{
    padding: 20px 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
}
#linebg{
    height: 5px;
    width: 100%;
    padding: 0px 100px;
}
#line{
    height: 2px;
    background-color: gray;
    width: 100%;
}
#page3{
    height: 70%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
#page3 h6{
    font-size: 15px;
    margin-bottom: 20px;
    background-color:rgb(219, 214, 118) ;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 600;
}
#page3 h4{
    font-size: 70px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#page3 p{
margin-top: 20px;
font-size: 19px;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
}
#page4{
    margin-top: 20px;
    height: 80%;
    width: 100%;
    background-color: rgb(32, 173, 32);
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 #page4-left{
    background-color: aqua;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#page4 #page4-left h4{
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}
#page4 #page4-left p{
    font-size: 18px;
    margin-bottom: 20px;
}
#page4 #page4-left .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    gap: 30px;
}
#page4 #page4-left #btn2{
    background-color: white;
    color: black;
    border: 2px solid gray;
}

#page4 #page4-left button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
}
#page4 #page4-right{
    height: 100%;
    width: 50%;
    background-color: yellow;
    position: relative;
}
#page4 #page4-right img{
    height: 100%;
}
#page4-right #card{
    /* margin-bottom: -120px; */
    position:  absolute;
    top: 80%;
    left: 40%;
    height: 250px;
    width: 250px;
    background-color: white;   
    border-radius: 20px ;
    padding: 20px;
    box-shadow: 2px 2px 5px -1px rgb(53, 52, 52), -2px -2px 5px -1px rgb(53, 53, 53);
}
#card #line1{
    display: flex;
    gap: 20px;
}
#line1 #image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: blueviolet;
    background-image: url(https://images.unsplash.com/photo-1602077422495-c8733eb58c34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fHBvdHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
#line1 #text{
    /* font-size: 20px; */
    text-transform: capitalize;
    text-align: center;
}
#line1 #text h4{
    font-size: 18px;
    font-weight: 500;
}
#line1 #text h5{
    font-size: 17px;
    margin-top: 5px;
    font-weight: 600;
    background-color: rgba(69, 223, 172, 0.557);
}
#card h5{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}
#card .skills{
    /* width: 100%; */
    background-color: aqua;
    display: flex ;
    flex-wrap: wrap;
    gap: 20px;
    /* margin: 10px; */
    line-height: 15px;
    /* border: 2px solid black; */
}


