*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Gilroy;
}
html,body{
height: 100%;
width: 100%;
}
*::selection{
    background-color: #FCE8B6;
}
#navbg{
    width: 100%;
    margin-top: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffefa;

}
#nav1 {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
#navbg #nav1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
#navbg img{
    width: 10%;
    height: auto;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 80px;
}
#nav2  button{
    padding: 15px   30px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: capitalize;
}

#nav2 #log{
    color: rgb(0, 0, 0);
    background-color: white;
}
#platform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}
#platform h5{
    font-size: 20px;
    font-weight: 400;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 50px;
}
#platform h2{
    font-size: 75px;
    font-weight: 500;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#platform h4{
    font-size: 20px;
    font-weight: 400;
    background-color: palegoldenrod;
    padding: 10px;
}
#platform button{
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
#bottom::-webkit-scrollbar{
    display: none;
}
#bottom{
    margin-top: 20px;
    height: 340px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 60px;
    display: flex;
}
.dabba-container {
    flex-shrink: 0;
    animation-name: dabba;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* white-space: nowrap; */
    flex-wrap: nowrap;
    display: flex;
}
.dabba{
    flex-shrink: 0;
    margin-right: 10px;
    height: 100%;
    width: 280px;
    /* background-color: blueviolet; */
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 40px;
    }
.dabba img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}    
.dabba video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes dabba {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
#page2 h3{
  font-size: 45px;  
  text-align: center;
  font-weight: 500;
}
#page2 .designsbox{
    width: 100%;
    padding: 10px;
}
.designs:nth-child(1){
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design{
    height: 100%;
    width: calc(100% / 4 - 10px);
    padding: 10px;
}
.design .designimg{
    height: 90%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.designimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.designname{
    height: 10%;
    width: 100%;
    margin-top: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}
.designname .name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name .creatorimg{
    height: 30px ;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.creatorimg img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.name h6{
    font-weight: 500;
    font-size: 14px;
}
.designname .ratedesign{
    display: flex;
    align-items: center;
    gap: 10px;
}
.designname h6{
    font-weight: 500;
    font-size: 14px;

}
.designname h6 i{
    font-weight: 600;
    font-size: 18px;
    color: rgb(70, 70, 70);
}
.designname h6 i:hover{
    color: palevioletred;
}
.designs:nth-child(2){
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2 button{
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.796);
    margin-top: 50px;
    border-radius: 50px ;
    padding: 15px 25px;
    font-weight: 500;
    background-color: #fff;
    font-size: 18px;
    transition: all ease .5s;
}
#page2 button:hover{
    background-color: black;
    color: white;
}
#page3{
    height: 95vh;
    width: 100%;
    background-color: #FFDA79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 100px;
    text-align: center;
}
#page3 h1{
    font-size: 60px;
    width: 50%;
    padding: 0px 20px;
    text-align: center;
    font-weight: 500;
    color: black;

}
#page3 h6{
    font-weight: 400;
    color: black;
    font-size: 20px;
    width: 50%;
    padding: 0px 30px;
}
#btns{
    display: flex;
    gap: 15px;
    align-items: center;
}
#btns button{
    padding: 15px;
    border-radius: 40px;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    transition: all ease .5s;
    margin-top: 2px;
}
#btns button:nth-child(1){
    background-color: black;
    color: white;
}
#btns button:nth-child(2){
    color: black;
    background-color: white;
}
#btns button:nth-child(1):hover{
    color: black;
    background-color: white;
}
#btns button:nth-child(2):hover{
    background-color: black;
    color: white;
}
#page4{
    height: 40vh;
    width: 100%;
    /* background-color: salmon; */
    padding: 40px 0px;
    overflow: hidden;
    }
.designcategories{
    height: 100%;
    /* width: calc((230px + 15px) * 8 + 15px); */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
}
.designcategory{
    height: 100%;
    width: 100%;
    /* background-color: seagreen; */
    animation: scroll 5s linear infinite;
    animation-fill-mode: forwards;
}
.designcategory .categoryimg{
    height: 80%;
    width: 100%;
    /* background-color: skyblue; */
    border-radius: 20px;
    overflow: hidden;
}
.categoryimg img{
    object-fit: cover;
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.designcategory h4{
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
    color: black;
}
footer{
    height: 40vh;
    width: 100%;
    padding: 30px 100px;
}
#upper-footer{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#upper-footer img{
    height: 40px;
}
#upper-footer #otherservices{
    display: flex;
    align-items: center;
    gap: 20px;
}
#upper-footer #otherservices a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
}
#upper-footer #socialmedia{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
#lower-footer{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
   
}
#lower-footer h6{
    font-size: 16px;
    font-weight: 400;
    opacity: .8;
}
#terms{
    display: flex;
    align-items: end;
    gap: 15px;
}
#resources{
    display: flex;
    align-items: center;
    gap: 15px;
}